.container{
  padding: 0;
  display: flex;
  background-color: #FFD62A;
  height: 300px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.item{
  list-style: none;
  background: #B02AFF;
  height: 100px;
  width: 100px;
}