
p{
  display:inline-block;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  max-width: 500px;
  font-size: 20px;
}
@keyframes example {
  0%   {left:-450px; top:10px;}
  25%  {left:-350px; top:10px;}
  50%  {left:-250px; top:10px;}
  75%  {left:-150px; top:10px;}
  100% {left:0px; top:10px;}
}
img{
  position: relative;
  animation-name: example2;
  animation-duration: 4s;
  display: inline-block;
}
#jokes{
height: 100px;
}
