.container {
  width: 100%;
  height: 200px;
  background-color: purple;
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  align-items: center;
}
.section:nth-child(odd) {
  background-color: yellow;
  height: 180px;
  margin-left: 10px;
  margin-right: 10px;
}
.section:nth-child(even) {
  background-color: green;
  height: 180px;
}
