body{
  background-color: lightgray;
  display: flex;
  justify-content: center;
}
form{
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 60px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 4px;
}
label{
  margin-top: 30px;
}
input, textarea{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: 25px;
}
#forgot-password{
  text-decoration: none;
  color: black;
  align-self: flex-end;
}
button{
  align-self: flex-start;
  width: 150px;
  height: 50px;
  background-color: #333333;
  color: white;
  font-size: 18px;
  border-radius: 25px;
  margin-top: 50px;
  outline: none;
  cursor: pointer;
}
#show-password{
align-self: flex-end;
height: 30px;
width: 30px;
margin-top: -45px;
margin-bottom: 45px;
margin-right: 15px;
opacity: 0.3;
}