body {
  background-image: linear-gradient(to right, grey 0%, #D0D0D0 50%,  grey 100%);
  display: flex;
  justify-content: center;

}

#image-gallery-main {
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  width: fit-content;
  margin-top: 10%;
  align-content: center;

}

#image-gallery-slide {
  display: flex;
  flex-direction: row;

  width: fit-content;
  box-shadow: 0 20px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 15px 0 rgba(0, 0, 0, 0.19);
}

.button{
  display: flex;
  justify-content: center;
  height: 300px;
  width: 50px;
  background-color: white;
  cursor: pointer;
}

.button:hover .arrow{
  opacity: 0.3;

}

#right-button {
  transform: rotateY(180deg);
}

#image-box {
  height: 300px;
  background-color: black;
}

#image-gallery-icons-main{
  display: flex;
  justify-content: center;
}

#image-gallery-icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  max-width: 635px;
}

.iconDiv:nth-child(10) {
  margin: 0;
  margin-left: 8px;
}

.iconDiv:nth-child(17n+17) {
  margin: 0;
  margin-left: 8px;
}

.notSelected{
  object-fit: cover;
  height: 50px;
  width: 50px;
  margin: 6px;
  border: 4px solid white;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 8px 6px -6px #222;
  -moz-box-shadow: 0 8px 6px -6px #222;
  box-shadow: 0 8px 6px -6px #222;
}

.selected{
  object-fit: cover;
  height: 53px;
  width: 53px;
  margin: 6px;
  margin-top: 1px;
  border: 5px solid white;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 8px 6px -6px #222;
  -moz-box-shadow: 0 8px 6px -6px #222;
  box-shadow: 0 8px 6px -2px #222;
}

#theIcons:hover{
  cursor: pointer;
  margin-top: 1px;
  -webkit-box-shadow: 0 8px 6px -6px #222;
  -moz-box-shadow: 0 8px 6px -6px #222;
  box-shadow: 0 8px 6px -2px #222;
}

#image-description{
  order: 2;
  margin-top: -100px;
  background-color:rgba(0,0,0,0.6);
  height: 100px;
  overflow:hidden;
}

.imageTitle{
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imageDescription{
  max-width: 620px;
  color: grey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin:0;
  margin-left: 10px;
}
#image-show{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#theImage{
cursor: pointer;
height: 300px;
order:1;
}

#image-box{
  min-width: 600px;
}
.iconDiv{
display: flex;
justify-content: center;
}
.visible{
  display: inline;
  position: absolute;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  margin-top: -30px;
}
.notVisible{
  display: none;
}
#bigImage{
  margin-top: -50px;
  position: fixed;
  box-shadow: 0 20px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 15px 0 rgba(0, 0, 0, 0.19);
}